.terraform/
.terraform.lock.hcl
*.tfstate
*.tfstate.backup
*.tfstate.*
*.tfplan
*.tfvars
*.tfvars.json
crash.log
crash.*.log
backend.hcl
*.bak
*.tmp
.DS_Store

# macOS metadata
._*
.AppleDouble
.LSOverride
__MACOSX/

!terraform/envs/dev/dev.tfvars
!terraform/envs/prod/prod.tfvars
